<header class="header">
    <div class="logo">NodeJS</div>

    <nav class="nav">
        <a href="/">Home</a>
        <a href="/report">Report</a>
        <a href="#">About</a>
        <a href="#" cla ss="btn">Contact</a>
    </nav>

    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>

<!-- Mobile Menu -->
<div class="mobile-menu" id="mobileMenu">
    <a href="/">Home</a>
    <a href="/url-shortener">Url Short</a>
    <a href="#">About</a>
    <a href="#" class="btn">Contact</a>
</div>
